<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="main-container">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <video src="{{videoSrc}}" #videoPlayer controls (timeupdate)="setCurrentTime($event)"></video>
  <div class="timeline">
    <div class="timeline-progress">
      <mat-progress-bar
          class="example-margin"
          [color]="primary"
          [value]="100"
          >
        </mat-progress-bar>
    </div>
    <div class="timeline-stamps">
      <span *ngIf="videoNativeElement"><strong>{{currentTime * 1000 | date:'mm:ss':'UTC'}}</strong> </span>
      <span *ngIf="videoNativeElement"><strong>{{videoNativeElement.duration * 1000 | date:'mm:ss':'UTC'}}</strong></span>
    </div>
  </div>
  <p *ngFor="let ev of matchEvents$ | async">{{ev.type}}</p>
  </div>

<router-outlet></router-outlet>
